* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {
    width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #0000;
    color:black;
    /*font-family: 'Righteous', cursive;*/
    font-family: 'Roboto', sans-serif;
}
#mainContainer{
    width: 320px;
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#topPart, #aboutMe, #youtube{
    width: 100%;
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
}
#topPart{
  background-image: url(../Assets/background11.png);
  height: 65vh;
}
#aboutMe{
  margin-top: 20px;
  background-image: url(../Assets/background2.png);
}
#youtube{
  margin-top: 20px;
  background-image: url(../Assets/Asset12small.png);
  background-repeat: repeat;
  margin-bottom: 20px;
  background-size: auto;
  padding: 20px;
}
/*.logo{
    animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 120px;
    }
  }*/
  .partOne{
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      display: flex;
      flex-direction: row;
      margin-top: 15px;
  }
  .partOne h1{
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 1px rgb(182, 182, 182), 
               3px 3px 5px rgb(253, 233, 253); 
  }
  .partTwo{
      width: 100%;
      box-sizing: border-box;
    padding: 7px;
  }
  .partTwo h1{
    font-family: 'Righteous', cursive;
  }
  .meMe{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
  }
  .Yegor{
    border-radius: 50%;
    box-shadow: 5px 5px #b692bd;
  }
  .meMe h1{
    font-family: 'Righteous', cursive;
  }
  #youtube iframe {
    border-radius: 20px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.54);
  }